<!DOCTYPE html>
<html>
<head>
  <title>Streamxer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
  <%= current_user.uid %>
  <%= link_to 'logout', logout_path %>
<% else %>
  <%= link_to('log in', '/auth/tumblr') %>
<% end %>
<%= yield %>

</body>
</html>
